#Dish {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.meal-item {
    width: calc(33.33% - 20px);
    margin: 10px;
    box-sizing: border-box;
}

.meal-img img {
    width: 100%;
    height: auto;
}

.content-and-search-box {
    text-align: center;

}

.Dish-Result {
    text-align: center;
}
.TopNavBar ul {
    display: inline-block;
    list-style: none;
    align-items: center;
    background-color: transparent;
    padding: 10px;
    position: relative;
}

#TopNavBar {
    position: absolute;
    top: 0;
    right: 0;
}

#TopNavBar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#TopNavBar li {
    display: inline-block; 
    margin-left: 20px; 
}


h1 {
    color: rgb(0, 0, 0);
    text-align: center;
}

.content-and-search-box {
    text-align: center;
}


}