body {
    background: url(lidye-1Shk_PkNkNw-unsplash.jpg) center center fixed;
    background-size: cover;
}

.logo-container {
    position: absolute;
    top: 10%; 
    left: 10%;
    transform: translateX(-50%);
}

.logo-image {
    width: 150px;
    height: auto;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
}

.TopNavBar {
    position: absolute;
    top: 0; 
    right: 20px;
    display: flex;
    flex-direction: row-reverse;
}

.TopNavBar ul {
    font-family: "Papyrus", fantasy;
    padding: 0;
    margin: 0;
}


.TopNavBar-wrapper {
    position: relative;
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    margin-right: 100px;
    background-color: transparent;
}

.TopNavBar li {
    display: inline-block;
    padding: 18px;
    text-transform: uppercase;
    margin-left: 20px; 
}

.TopNavBar a {
    text-decoration: none; 
    color: #ffffff;
    font-size: 18px;
}

.content {
    position: absolute;
    top: 35%; 
    left: 50%;
    transform: translateX(-50%);
}

.content h3 {
    color: white;
}

.content p {
    color: white;
}

