body {
    position: relative;
}

.everything {
    margin: 10%;
}

body::before {
    margin: 2;
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('lidye-1Shk_PkNkNw-unsplash.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    z-index: -1;
}

#Dish {
    column-count: 3;
    column-gap: 20px;
    margin: 0 auto;
}

.meal-item {
    display: inline-block;
    width: 100%;
    margin: 10px;
    box-sizing: border-box;
}

.meal-name {
    color: white;
}

h1 {
    color: white;
    text-align: center;
}

.meal-img img {
    width: 100%;
    height: auto;
}

.content-and-search-box {
    text-align: center;
}

.Dish-Result {
    text-align: center;
}

.TopNavBar ul {
    display: inline-block;
    list-style: none;
    align-items: center;
    background-color: transparent;
    padding: 10px;
    position: relative;
}

#TopNavBar {
    position: absolute;
    top: 0;
    right: 0;
}

#TopNavBar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#TopNavBar li {
    display: inline-block; 
    margin-left: 20px; 
}


h1 {
    color: white;
    text-align: center;
    background: none;
}

.content-and-search-box {
    text-align: center;
}


