img {
    width: 100%;
    height: auto;
    display: block;
}

#TopNavBar {
    display: flex;
    justify-content: center;
}

.TopNavBar-wrapper {
    border: 1px solid #000;
}

.HomePage-wrapper {
    text-align: left;
    border: 1px solid #000;
    margin: 10px;
    padding: 10px;
}

.Img-container {
    position: relative;
    text-align: center;
}

.headers {
    position: fixed;
    top: 50%;

}

