img {
    width: 100%;
    height: auto;
    background-size: cover;
}

#TopNavBar {
    display: flex;
    justify-content: center;
}

.TopNavBar-wrapper {
    border: 1px solid #000;
    position: relative;
    text-align: center;
    margin-bottom: 20px;
}

#Img-container 

.headerone {
    position: absolute;
    top: 50%;
}

.headertwo {
    position: static;
    top: 50%
}
